﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Encuestas INEI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["CurrentUser"] != null)
                    {
                        string nombre = ((EncuestasINEI.Models.Usuario)Session["CurrentUser"]).TipoUsuario.Nombre.ToLower();
                        if (nombre == "administrador")
                        {
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                            <li>@Html.ActionLink("Tipos de usuarios", "Index", "TipoUsuarios")</li>
                            <li>@Html.ActionLink("Encuestas", "Index", "Encuestas")</li>
                            <li>@Html.ActionLink("Tipos de preguntas", "Index", "TipoPreguntas")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Reportes   <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" id="myTab">
                                    <li role="presentation">
                                        <a href="@Url.Action("ActividadEncuestados", "Usuarios")">
                                            <span class="glyphicon glyphicon-pencil"></span> Actividad de encuestados
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation">
                                        <a href="@Url.Action("EncuestasActivas", "Encuestas")">
                                            <span class="glyphicon glyphicon-user"></span>
                                            Usuarios por encuesta
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation">
                                        <a href="@Url.Action("EncuestasPorFecha", "Encuestas")">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            Encuestas por fecha
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation">
                                        <a href="@Url.Action("EncuestasPorCosto", "Encuestas")">
                                            <span class="glyphicon glyphicon-usd"></span>
                                            Encuestas por costo
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation">
                                        <a href="@Url.Action("TopEncuestas", "Encuestas")">
                                            <span class="glyphicon glyphicon-star"></span>
                                            Top Encuestas
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (nombre == "director")
                        {
                            <li>@Html.ActionLink("Mis encuestas", "Index", "Encuestas")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Reportes   <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" id="myTab">
                                    <li role="presentation">
                                        <a href="@Url.Action("ActividadEncuestados", "Usuarios")">
                                            <span class="glyphicon glyphicon-pencil"></span> Actividad de encuestados        
                                         </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation">
                                        <a href="@Url.Action("EncuestasActivas", "Encuestas")">
                                            <span class="glyphicon glyphicon-user"></span>
                                             Usuarios por encuesta
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation">
                                        <a href="@Url.Action("EncuestasPorFecha", "Encuestas")">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                             Encuestas por fecha
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation">
                                        <a href="@Url.Action("EncuestasPorCosto", "Encuestas")">
                                            <span class="glyphicon glyphicon-usd"></span>
                                             Encuestas por costo
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation">
                                        <a href="@Url.Action("TopEncuestas", "Encuestas")">
                                            <span class="glyphicon glyphicon-star"></span>
                                             Top Encuestas
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Encuestas nuevas", "EncuestasParaUsuarios", "Encuestas")</li>
                            <li>@Html.ActionLink("Mis encuestas", "EncuestasRealizadas", "Encuestas")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
