﻿@model IEnumerable<EncuestasINEI.Models.Encuesta>

@{
    ViewBag.Title = "EncuestasRealizadas";
}

<h2>Mis encuestas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Detalles", "DetallesEncuestaResuelta","Respuestas", 
           new { encuestaID = item.ID, usuarioID = ((EncuestasINEI.Models.Usuario)Session["CurrentUser"]).ID }, null) 
        </td>
    </tr>
}

</table>
@*<p>
    @Html.ActionLink("Volver", "EncuestasParaUsuarios")
</p>*@