﻿@model IEnumerable<EncuestasINEI.Models.Respuesta>

@{
    ViewBag.Title = "DetallesEncuestaResuelta";
}

<div>
    <h4>Detalles de la encuesta realizada</h4>
    <hr />
    <table>
        <tr>
            <th>Pregunta</th>
            <th>Respuesta</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pregunta.Descripcion)
                </td>
                <td>
                    : @Html.DisplayFor(modelItem => item.Texto)
                </td>
            </tr>       
        }
    </table>
</div>

<br/>

@if (Session["IDEncuesta"] != null)
{
    <p>
        @Html.ActionLink("Volver", "UsuariosPorEncuesta", "Usuarios", new { id_encuesta = Session["IDEncuesta"] }, null)
    </p>
}
else
{
    <p>
        @Html.ActionLink("Volver", "EncuestasRealizadas", "Encuestas")
    </p> 
}

